.wrapper{
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  justify-content: stretch;
  align-items: center;
  background-color: #00B3B3;
  z-index: 200;
  padding: 0 10px;

  *{
    color: white;
  }
}

@media only screen and (max-width: 1080px) {
  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    > *{
      margin-bottom: 15px;
    }
  }

  .menu{
    display: flex;
  }
}

.menu{
  display: none;
}

.flex-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  > *{
    margin-right: 15px !important;
  }

  h3{
    margin: 0;
    padding: 0;
  }
}

.nav-btn{
  padding: 20px 15px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.nav-btn:hover{
  background-color: lighten(#00B3B3, 5);
}

.shadow{
  box-shadow: 0 4px 10px 2px grey;
}