<div class="wrapper" [ngClass]="{'shadow': (scrollY | async) > 0}">
  <button type="button" class="menu">
    <span class="material-icons">menu</span>
  </button>
  <div class="flex-container">
    <h3>Personal Portfolio</h3>
    <button type="button" class="nav-btn" (click)="scrollTo('home')">Home</button>
    <button type="button" class="nav-btn" (click)="scrollTo('projects')">Projects</button>
    <button type="button" class="nav-btn" (click)="scrollTo('about')">About</button>
  </div>
</div>